@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Roboto:wght@100;300&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.error1, .error2, .error3 {
    color: red;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

/*Nav Block*/


.headerscroll {
    position: sticky;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
}


.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
    margin-left: 159px;
    margin-right: 159px;
}

.topnav-nav a {
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.topnav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topnav-content button {
    margin-left: 52px;
    padding: 10px 30px;
    background-color: white;
    border: 2px solid #1040e0;
    color: #1040e0;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.5s;
}

.topnav-content button:hover {
    transform: scale(1.1);
    color: darkblue;
    border-color: darkblue;
    transition: 0.5s;
}

/*Nav endblock*/

/*Content block*/
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Step-1 block*/

.step-1 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.step-1-info {
    width: 560px;
    height: 560px;
    background-color: #1040e0;
    margin-left: 51px;
}

.info-1 {
    width: 440px;
    height: 351px;
    padding: 60px;
    color: white;
}

.info-1-name {
    margin-top: 72px;
    font-size: 52px;
}
.info-1-content {
    font-size: 18px;
    margin-top: 28px;
}
/*Step-1 endblock*/
/*Step-2 Block*/
.step-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    justify-content: center;
    margin-left: 159px;
    margin-right: 159px;
}

.step-2 button {
    padding: 16px 60px;
    background-color: blue;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.step-2 button:hover {
    transform: scale(1.1);
    background-color: darkblue;
    transition: 0.5s;    
}


.service {
    display: flex;
    flex-direction: column;
    padding-bottom: 105px;
}

.service-name {
    text-align: center;
    font-size: 20px;
    margin: 135px 0 45px;
    padding: 8px 0 3px;
}

.service-content {
    font-family: 'Cairo', sans-serif;
    padding-top: 45px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0 20px;
}

.service-content h1 {
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    padding: 7px 0 6px;
    font-weight: bold;
}

.service-content p {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px;
    word-spacing: 5px;
}
/*Step-2 endblock*/

/*Step-3 block*/
.step-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 159px;
    margin-right: 159px;
}

.step-3-header h1 {
    padding: 150px 0 45px;
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    font-weight: bold;
}

.step-3-header p {
    font-size: 30px;
    padding: 30px 0 60px;
    width: 760px;
}

.step-3-content {
    width: 760px;
    padding: 0 0 120px;
}

.step-3-content p {
    padding-bottom: 50px;
    font-size: 20px;
}
/*Step-3 endblock*/

/*Step-4 block*/
.step-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 135px 0;
    margin-left: 159px;
    margin-right: 159px;
}

.step-4-header {
    text-align: center;
    padding: 0 0 90px;
}

.step-4-header h1 {
    font-size: 42px;
    margin: 0 0 40px;
    font-weight: bold;
}

.step-4-header p {
    width: 560px;
    font-size: 24px;
    margin: 20px 300px;
}

.cols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.cols h3 {
    width: 662px;
    padding: 0 40px 0 0;
    font-size: 22px;
    margin-bottom: 28px;
}

.cols p {
    font-size: 20px;
    font-weight: bolder;
}
/*Step-4 endblock*/

/*Step-5 block*/
.step-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 135px 0 45px;
}

.step-5-header {
    margin: 0 20px;
    font-weight: bold;
    font-size: 42px;
    height: 141px;
}

.step-5-header h1 {margin: 0 0 30px;}

.step-5-content {
    display: flex;
    flex-direction: row;
}

.box-content img {
    margin-right: 52px;
}

.box-content h3 {
    font-size: 20px;
    padding: 20px 0 0;
}

.box-content p {
    font-size: 16px;
    width: 360px;
    padding: 10px 0 0;
}

.btn {
    padding: 60px 0 150px;
    margin-left: 159px;
    margin-right: 159px;
}

.btn button {
    padding: 20px 60px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.btn button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
/*Step-5 endblock*/
/*Step-6 block*/
.step-6 {
    display: flex;
    flex-direction: column;
    padding: 150px 0;
    margin-left: 159px;
    margin-right: 159px;
}

.step-6-header {margin: 0 20px;}

.step-6-header h2 {
    text-align: center;
    font-size: 42px;
    padding: 0 0 42px;
}

.step-6-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.step-6-box {
    margin-right: 52px;
    margin-left: 52px;
}

.step-6-box button {
    padding: 0 60px;
    height: 60px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.step-6-box button:hover {
    transform: scale(1.1);
    background-color: darkblue;
    transition: 0.5s;
}

.inputs {
    width: 380px;
    height: 60px;
    padding: 0 20px;
    border: 1px solid rgb(192, 186, 186);
    margin-bottom: 33px;
}
/*Step-6 endblock*/

/*Footer block*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 263px;
    background-color: black;
    padding: 60px 0 75px;
}

.footer-up {
    margin: 0 0 10px;
    padding: 16px 10px 0;
}

.footer-up a {
    padding: 0 15px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.footer-down {
    padding: 40px 0 10px;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}
/*Footer endblock*/

/*Content endblock*/

